Repository adobe/aem-cloud-service-source-migration: changes, and which Codecov flags are due for each by the changed paths.
All: dispatcher-converter, index-converter, repository-modernizer, tests

Update coverage.yml
  .github/workflows/coverage.yml
Due: none

Update package.json
  packages/repository-modernizer/package.json
Due: repository-modernizer

Update package.json
  packages/index-converter/package.json
Due: index-converter

Update README.md
  README.md
Due: none

Update package.json
  packages/dispatcher-converter/package.json
Due: dispatcher-converter

Update package.json
  packages/commons/package.json
Due: none

Rename coverage.yml to codecovCoverage.yml
  .github/workflows/codecovCoverage.yml
Due: none

change travis to gh workflow & package changes
  .github/workflows/codecovCoverage.yml
  .travis.yml
  packages/commons/package.json
  packages/dispatcher-converter/package.json
  packages/index-converter/package.json
  packages/repository-modernizer/package.json
Due: dispatcher-converter, index-converter, repository-modernizer

gh action name change
  .github/workflows/codecovCoverage.yml
Due: none

travis removal & gh workflow action for coverage
  .github/workflows/codecovCoverage.yml
  .gitignore
  .travis.yml
  README.md
  codecov.yml
  packages/commons/README.md
  packages/commons/package.json
  packages/dispatcher-converter/README.md
  packages/dispatcher-converter/package.json
  packages/index-converter/README.md
  packages/index-converter/package.json
  packages/repository-modernizer/README.md
  packages/repository-modernizer/package.json
Due: dispatcher-converter, index-converter, repository-modernizer

Added chnageset files for each packages
  .changeset/flat-boats-promise.md
  .changeset/hungry-ears-grab.md
  .changeset/loud-foxes-sleep.md
  package.json
Due: none

include coverage script for failed coverage job
  packages/dispatcher-converter/package.json
  packages/index-converter/package.json
Due: dispatcher-converter, index-converter

Increase code coverage for repo-modenizer
  packages/repository-modernizer/package.json
  packages/repository-modernizer/test/pom-manipulation-util.test.js
  packages/repository-modernizer/test/resources/pom.xml
  packages/repository-modernizer/test/restructure-filters.test.js
Due: repository-modernizer

package.json changes
  packages/repository-modernizer/package.json
Due: repository-modernizer

Discrepancies in POM XML after transformation
  packages/dispatcher-converter/src/converter/amsDispatcherConfigConverter.js
  packages/dispatcher-converter/src/converter/singleFilesConverter.js
  packages/dispatcher-converter/src/util/FileOperations.js
  packages/index-converter/index.js
  packages/index-converter/src/index-converter.js
  packages/index-converter/src/util/index-converter-util.js
  packages/index-converter/test/ensure-definition-converter-test.js
  packages/index-converter/test/index-converter-util-test.js
  packages/index-converter/test/map-processing-util-test.js
  packages/index-converter/test/xml-processing-util-test.js
  packages/repository-modernizer/resources/pom.xml
  packages/repository-modernizer/resources/ui.apps.structure/pom.xml
  packages/repository-modernizer/src/restructure-pom.js
  packages/repository-modernizer/src/util/constants.js
  packages/repository-modernizer/src/util/pom-manipulation-util.js
Due: dispatcher-converter, index-converter, repository-modernizer

check lint with workflow
  .github/workflows/codecovCoverage.yml
Due: none

Multivalued and Datatypes issue
  packages/repository-modernizer/src/restructure-config.js
  packages/repository-modernizer/test/resources/com.adobe.config.test.cfg.json
  packages/repository-modernizer/test/resources/com.adobe.config.test.xml
Due: repository-modernizer

Create reactor poms for each individual projects
  packages/repository-modernizer/resources/pom.xml
  packages/repository-modernizer/src/create-base-project-structure.js
  packages/repository-modernizer/src/restructure-pom.js
  packages/repository-modernizer/test/restructure-pom.test.js
Due: repository-modernizer

test changes
  packages/repository-modernizer/src/restructure-pom.js
  packages/repository-modernizer/test/restructure-pom.test.js
Due: repository-modernizer

test cases
  packages/repository-modernizer/test/multiProjectConfig.yaml
  packages/repository-modernizer/test/restructure-pom.test.js
Due: repository-modernizer

add test cases
  packages/repository-modernizer/test/create-base-project-structure.test.js
Due: repository-modernizer

feedback
  packages/repository-modernizer/src/create-base-project-structure.js
  packages/repository-modernizer/src/restructure-pom.js
Due: repository-modernizer

read me changes
  packages/repository-modernizer/README.md
  packages/repository-modernizer/src/create-base-project-structure.js
Due: repository-modernizer

add changelist file for rep-modernizer
  .changeset/famous-ants-beg.md
Due: none

CQ-4325182 : LogManager.factory.config issue
  packages/repository-modernizer/src/restructure-config.js
  packages/repository-modernizer/src/util/constants.js
Due: repository-modernizer

tests added
  packages/repository-modernizer/test/resources/com.adobe.config.test.cfg.json
  packages/repository-modernizer/test/resources/com.adobe.config.test.xml
Due: repository-modernizer

Review Improvements for repository modernizer tool
  packages/repository-modernizer/resources/all/pom.xml
  packages/repository-modernizer/resources/ui.apps/pom.xml
  packages/repository-modernizer/resources/ui.config/pom.xml
  packages/repository-modernizer/resources/ui.content/pom.xml
  packages/repository-modernizer/src/restructure-pom.js
  packages/repository-modernizer/src/util/constants.js
  packages/repository-modernizer/test/pom-manipulation-util.test.js
Due: repository-modernizer

incorporate feedback
  packages/repository-modernizer/src/restructure-pom.js
  packages/repository-modernizer/src/util/pom-manipulation-util.js
  packages/repository-modernizer/test/pom-manipulation-util.test.js
Due: repository-modernizer

Fix for error on empty configuration.
  packages/dispatcher-converter/src/converter/singleFilesConverter.js
Due: dispatcher-converter

Fix lint errors.
  packages/dispatcher-converter/src/converter/singleFilesConverter.js
Due: dispatcher-converter

Sub Projects not getting transformed properly
  packages/repository-modernizer/executors/config.yaml
  packages/repository-modernizer/src/create-base-project-structure.js
  packages/repository-modernizer/src/restructure-config.js
  packages/repository-modernizer/src/restructure-content.js
  packages/repository-modernizer/src/restructure-filters.js
  packages/repository-modernizer/src/restructure-pom.js
  packages/repository-modernizer/test/create-base-project-structure.test.js
  packages/repository-modernizer/test/projectWithSubProjectConfig.yaml
  packages/repository-modernizer/test/resources/sub-project/pom.xml
  packages/repository-modernizer/test/restructure-filters.test.js
  packages/repository-modernizer/test/restructure-pom.test.js
Due: repository-modernizer

test cases fix
  packages/repository-modernizer/test/restructure-pom.test.js
Due: repository-modernizer

Path conditions:
  dispatcher-converter: any of: packages/dispatcher-converter/
  index-converter: any of: packages/index-converter/
  repository-modernizer: any of: packages/repository-modernizer/
  tests: any of: test/
