Repository adobe/aem-cloud-service-source-migration: changes, and which Codecov flags are due for each by the changed paths.
All: dispatcher-converter, index-converter, repository-modernizer, tests

readme changes
  packages/repository-modernizer/README.md
Due: repository-modernizer

Update filevault-package-maven-plugin version
  packages/repository-modernizer/resources/pom.xml
  packages/repository-modernizer/test/pom-manipulation-util.test.js
  packages/repository-modernizer/validator/constants.js
Due: repository-modernizer

Add sub-project warn/note in comments
  packages/repository-modernizer/executors/config.yaml
Due: repository-modernizer

fix yarn engine failures
  .github/workflows/codecovCoverage.yml
  .github/workflows/publish.yml
Due: none

Added changelist file for sub-packages
  .changeset/dry-maps-sin.md
  .changeset/wild-trains-roll.md
Due: none

null & undefined check rectifcation
  packages/dispatcher-converter/executors/main.js
  packages/dispatcher-converter/executors/singleFileMain.js
  packages/dispatcher-converter/src/converter/amsDispatcherConfigConverter.js
  packages/dispatcher-converter/src/converter/singleFilesConverter.js
  packages/repository-modernizer/index.js
Due: dispatcher-converter, repository-modernizer

Dispatcher Converter Tool - Unilever Issue
  packages/dispatcher-converter/src/util/FileOperations.js
Due: dispatcher-converter

CQ-4327400 : Rewriterules getting commented
  packages/dispatcher-converter/src/util/FileOperations.js
  packages/dispatcher-converter/test/FileOperationsTest.js
Due: dispatcher-converter

log change
  packages/dispatcher-converter/src/util/FileOperations.js
Due: dispatcher-converter

CQ-4327400 : RewriteRules getting commented (#57)
  packages/dispatcher-converter/src/util/FileOperations.js
  packages/dispatcher-converter/test/FileOperationsTest.js
Due: dispatcher-converter

Issue in the conversion when
  packages/dispatcher-converter/src/converter/singleFilesConverter.js
Due: dispatcher-converter

change file name
  packages/dispatcher-converter/src/converter/singleFilesConverter.js
Due: dispatcher-converter

[Unilever][Dispatcher Converter] Outstanding issue
  packages/dispatcher-converter/README.md
  packages/dispatcher-converter/executors/config.yaml
  packages/dispatcher-converter/src/util/FileOperations.js
  packages/dispatcher-converter/src/util/constants.js
Due: dispatcher-converter

Changes to dispatcher converter
  packages/commons/src/util.js
  packages/dispatcher-converter/executors/main.js
  packages/dispatcher-converter/executors/singleFileMain.js
  packages/dispatcher-converter/package.json
  packages/dispatcher-converter/src/util/FileOperations.js
  packages/dispatcher-converter/src/util/FolderOperations.js
  packages/dispatcher-converter/src/util/constants.js
Due: dispatcher-converter

changes
  packages/dispatcher-converter/package.json
  packages/dispatcher-converter/src/util/FolderOperations.js
Due: dispatcher-converter

Rebase .content_Cloud_Services.xml
  packages/index-converter/resources/.content_Cloud_Services.xml
Due: index-converter

Added changelist file for sub-packages
  .changeset/silent-mirrors-fold.md
  .changeset/thirty-flowers-confess.md
  .changeset/thirty-gorillas-serve.md
Due: none

restructuring..
  packages/index-converter/resources/.content_Cloud_Services.xml
Due: index-converter

CQ-4324272 : Index converter - Migrate tika config
  packages/index-converter/resources/tika/config.xml
  packages/index-converter/src/index-converter.js
  packages/index-converter/src/util/constants.js
  packages/index-converter/src/util/index-converter-util.js
  packages/index-converter/test/index-converter-util-test.js
  packages/index-converter/test/resources/tika/config.xml
Due: index-converter

include tika for other indexes as well
  packages/index-converter/src/index-converter.js
  packages/index-converter/src/util/constants.js
  packages/index-converter/src/util/index-converter-util.js
  packages/index-converter/test/index-converter-util-test.js
Due: index-converter

update
  packages/index-converter/src/util/index-converter-util.js
Due: index-converter

Issue with `vhostsToConvert` & $Include property
  packages/dispatcher-converter/src/converter/singleFilesConverter.js
  packages/dispatcher-converter/src/util/FileOperations.js
Due: dispatcher-converter

[Dispatcher Converter] Rules file inclusion issue.
  packages/dispatcher-converter/src/converter/singleFilesConverter.js
  packages/dispatcher-converter/src/util/constants.js
Due: dispatcher-converter

CQ-4315907
  packages/dispatcher-converter/src/converter/amsDispatcherConfigConverter.js
  packages/dispatcher-converter/src/util/FileOperations.js
  packages/dispatcher-converter/test/FileOperationsTest.js
Due: dispatcher-converter

refactoring...
  packages/dispatcher-converter/src/converter/amsDispatcherConfigConverter.js
Due: dispatcher-converter

changes regarding tags attribute
  packages/index-converter/src/util/constants.js
  packages/index-converter/src/util/index-converter-util.js
  packages/index-converter/test/resources/expectedCustomOOTB.json
  packages/index-converter/test/resources/inputCustom1.xml
Due: index-converter

Added changelist file for sub-packages
  .changeset/fair-hornets-lie.md
  .changeset/swift-phones-grin.md
Due: none

changes
  .changeset/swift-phones-grin.md
Due: none

Added changelist file for sub-packages (#68)
  .changeset/fair-hornets-lie.md
  .changeset/swift-phones-grin.md
Due: none

CQ-4330105 :
  packages/dispatcher-converter/src/util/FileOperations.js
  packages/dispatcher-converter/test/FileOperationsTest.js
Due: dispatcher-converter

Error running the tool on AMS configs which includes sym-linked files, invalid includes
  packages/commons/src/util.js
  packages/dispatcher-converter/executors/main.js
  packages/dispatcher-converter/src/converter/amsDispatcherConfigConverter.js
Due: dispatcher-converter

doc change
  packages/commons/src/util.js
Due: none

Release dispatcher version 1.5.0
  .changeset/sixty-years-itch.md
Due: none

commons-release
  .changeset/lazy-ducks-invent.md
Due: none

Repository modernizer is wrongly converting OSGI configs
  packages/repository-modernizer/package.json
  packages/repository-modernizer/src/restructure-config.js
  packages/repository-modernizer/test/resources/com.adobe.config.test.cfg.json
  packages/repository-modernizer/test/resources/com.adobe.config.test.xml
Due: repository-modernizer

minor changes
  packages/repository-modernizer/src/restructure-config.js
Due: repository-modernizer

add comments
  packages/repository-modernizer/src/restructure-config.js
Due: repository-modernizer

Repository modernizer is wrongly converting OSGI configs (#75)
  packages/repository-modernizer/package.json
  packages/repository-modernizer/src/restructure-config.js
  packages/repository-modernizer/test/resources/com.adobe.config.test.cfg.json
  packages/repository-modernizer/test/resources/com.adobe.config.test.xml
Due: repository-modernizer

Changes
  package.json
  packages/commons/package.json
  packages/dispatcher-converter/package.json
  packages/index-converter/package.json
  packages/repository-modernizer/package.json
Due: dispatcher-converter, index-converter, repository-modernizer

Path conditions:
  dispatcher-converter: any of: packages/dispatcher-converter/
  index-converter: any of: packages/index-converter/
  repository-modernizer: any of: packages/repository-modernizer/
  tests: any of: test/
