Repository adobe/aem-cloud-service-source-migration: changes, and which Codecov flags are due for each by the changed paths.
All: dispatcher-converter, index-converter, repository-modernizer, tests

codecov.yml:

coverage:
  status:
    project:
      default: off
      dispatcher-converter:
        target: 80%
        flags: dispatcher-converter
      index-converter:
        target: 80%
        flags: index-converter
      repository-modernizer:
        target: 80%
        flags: repository-modernizer

flags:
  dispatcher-converter:
    paths:
      - packages/dispatcher-converter/
  index-converter:
    paths:
      - packages/index-converter/
  repository-modernizer:
    paths:
      - packages/repository-modernizer/
  tests:
    paths:
      - test/

codecov changes
  .gitignore
  .travis.yml
  packages/dispatcher-converter/package.json
  packages/index-converter/package.json
  packages/repository-modernizer/package.json
Due: dispatcher-converter, index-converter, repository-modernizer

install codecov
  .travis.yml
Due: none

travis.yml changes
  .travis.yml
Due: none

travis changes
  .travis.yml
Due: none

travis
  .travis.yml
Due: none

read me changes
  README.md
Due: none

travis
  .travis.yml
  packages/dispatcher-converter/package.json
  packages/index-converter/package.json
  packages/repository-modernizer/package.json
Due: dispatcher-converter, index-converter, repository-modernizer

travis
  .travis.yml
  packages/commons/package.json
  packages/dispatcher-converter/package.json
  packages/index-converter/package.json
  packages/repository-modernizer/package.json
Due: dispatcher-converter, index-converter, repository-modernizer

travis
  packages/repository-modernizer/package.json
Due: repository-modernizer

travis
  .travis.yml
  codecov.yml
Due: none

try
  codecov.yml
Due: none

final commit
  codecov.yml
Due: none

CQ-4322597 code coverage upload through travis
  .gitignore
  .travis.yml
  README.md
  codecov.yml
  packages/commons/README.md
  packages/commons/package.json
  packages/dispatcher-converter/README.md
  packages/dispatcher-converter/package.json
  packages/index-converter/README.md
  packages/index-converter/package.json
  packages/repository-modernizer/README.md
  packages/repository-modernizer/package.json
Due: dispatcher-converter, index-converter, repository-modernizer

CQ-4321083:Core and Frontend Module not getting transformed in Repo Modernizer
  packages/repository-modernizer/src/create-base-project-structure.js
  packages/repository-modernizer/src/util/constants.js
Due: repository-modernizer

Update .travis.yml
  .travis.yml
Due: none

Create coverage.yml
  .github/workflows/coverage.yml
Due: none

Delete .travis.yml
  .travis.yml
Due: none

Update coverage.yml
  .github/workflows/coverage.yml
Due: none

Update package.json
  packages/commons/package.json
Due: none

Update package.json
  packages/dispatcher-converter/package.json
Due: dispatcher-converter

Update package.json
  packages/index-converter/package.json
Due: index-converter

Update package.json
  packages/repository-modernizer/package.json
Due: repository-modernizer
