Repository adobe/aem-cloud-service-source-migration: changes, and which Codecov flags are due for each by the changed paths.
All: dispatcher-converter, index-converter, repository-modernizer, tests

CQ-4357130: Duplicate variables present in consolidated custom vars file
  packages/dispatcher-converter/src/util/FileOperations.js
  packages/dispatcher-converter/test/FileOperationsTest.js
  packages/dispatcher-converter/test/newtestoldfile.txt
  packages/repository-modernizer/executors/config.yaml
Due: dispatcher-converter, repository-modernizer

CQ-4357130: fix test
  packages/dispatcher-converter/test/FileOperationsTest.js
Due: dispatcher-converter

CQ-4357130: undo test changes
  packages/dispatcher-converter/test/FileOperationsTest.js
Due: dispatcher-converter

CQ-4357130: Duplicate variables present in consolidated custom vars file (#78)
  packages/dispatcher-converter/src/util/FileOperations.js
  packages/dispatcher-converter/test/newtestoldfile.txt
  packages/repository-modernizer/executors/config.yaml
Due: dispatcher-converter, repository-modernizer

Release dispatcher-converter version 1.5.1
  .changeset/fluffy-turkeys-wink.md
Due: none

Release dispatcher-converter version 1.5.1 (#79)
  .changeset/fluffy-turkeys-wink.md
Due: none

CQ-4357130 : undo test file deletion
  packages/dispatcher-converter/test/newtestoldfile.txt
Due: dispatcher-converter

CQ-4357130 : undo test file deletion (#80)
  packages/dispatcher-converter/test/newtestoldfile.txt
Due: dispatcher-converter

GRANITE-64086 adding tika fix and file reader
  packages/commons/src/conversion_report/summary_report_writer.js
  packages/index-converter/executors/index-converter.js
  packages/index-converter/src/util/constants.js
  packages/index-converter/src/util/index-converter-util.js
Due: index-converter

Update codecovCoverage.yml
  .github/workflows/codecovCoverage.yml
Due: none

fix: resolve node-gyp build failures in CI/CD pipelines
  .github/workflows/codecovCoverage.yml
  .github/workflows/publish.yml
  packages/repository-modernizer/package.json
  packages/repository-modernizer/src/create-base-project-structure.js
  packages/repository-modernizer/test/create-base-project-structure.test.js
Due: repository-modernizer

fix: resolve async test failures exposed by Node 20 upgrade
  .gitignore
  packages/commons/src/conversion_report/summary_report_writer.js
  packages/dispatcher-converter/test/FileOperationsTest.js
  packages/index-converter/executors/index-converter.js
  packages/index-converter/src/util/constants.js
  packages/index-converter/src/util/index-converter-util.js
  packages/index-converter/test/index-converter-util-test.js
  packages/index-converter/test/resources/expectedCustomIndex.json
  packages/index-converter/test/resources/expectedCustomOOTB.json
Due: dispatcher-converter, index-converter

chore: add changesets for GRANITE-64086 and node-gyp fix
  .changeset/granite-64086-commons.md
  .changeset/granite-64086-index-converter.md
  .changeset/node-gyp-fix.md
Due: none

fix: add permissions to publish workflow for PR creation
  .github/workflows/publish.yml
Due: none

fix: convert remaining async file operations to sync in dispatcher tests
  packages/dispatcher-converter/test/FileOperationsTest.js
Due: dispatcher-converter

fix(index-converter): handle nested cqPageContent merge failures
  .changeset/fair-gifts-heal.md
  packages/index-converter/src/util/index-converter-util.js
  packages/index-converter/test/index-converter-util-test.js
Due: index-converter

Path conditions:
  dispatcher-converter: any of: packages/dispatcher-converter/
  index-converter: any of: packages/index-converter/
  repository-modernizer: any of: packages/repository-modernizer/
  tests: any of: test/
